.register-wrapper {
    background-color:black; 
    background-size: cover; 
    justify-content: center; 
    align-items: center; 
    min-height: 150vh; 
    left: 200px;
  }
  .right-sidebar {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(126, 92, 198);
    width: 400px; 
    height: 700px;
    position: absolute;
    top: 42%;
    right: 58%; 
    transform: translateY(-50%);
    color: white;
    right: 212px;
    
  }
  
 
  
  .register-page {
    padding: 20px;
    border-radius: 5px;
    background-color: white; 
    width: 800px; 
    height: 700px; 
    position: absolute; 
    top: 42%; 
    left:  40%; 
    transform: translate(-50%, -50%);
    color: black;
  }
  .firstp {
    font-size: 20px;
    font-weight: bold;
    top:80px

  }
  
  
  .secondP {
    font-size: 20px;
    color:white;
    font-weight: bold;
    top:200px;
  }
  
  
  
  
  .right-sidebar h1 {
    top:120px;
    font-size: 36px;
    margin-top: 10px;
    font-family: 'poppins';
  }

  .H1{
    position: absolute;
    top: 80px;
    font-size: 32px;
    left: 238px;
    color: black;
    font-family: 'poppins';
  }
  .register-page h2 {
    margin-bottom: 20px;
    right: 200px;
  }
  .register-page form {

    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
.headerRegister{
    position: absolute;
    top: 170px;
    font-size: 26px;
    left: 238px;
    color: black;
    font-family: 'poppins';
}
.name{
    position: absolute;
    top: 230px;
    font-size: 18px;
    left: 180px;
    color: black;
    font-family: 'poppins';
    display: block;

}
.name label {
  display: block; 
}
.name input {
  width: 100%; 
  border: none; 
  outline: none; 
}
.name .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}
.surname{
    position: absolute;
    top: 300px;
    font-size: 18px;
    left: 180px;
    color: black;
    font-family: 'poppins';

}
.surname label {
  display: block; 
}
.surname input {
  width: 100%; 
  border: none; 
  outline: none; 

}
.surname .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
  
}

.Email{
    position: absolute;
    top: 380px;
    font-size: 18px;
    left: 180px;
    color: black;
    font-family: 'poppins';

}
.Email label {
  display: block; 
}
.Email input {
  width: 100%; 
  border: none; 
  outline: none;
}
.Email .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}
.register-password{
    position: absolute;
    top: 460px;
    font-size: 16px;
    left: 180px;
    color: black;
    font-family: 'poppins';
}
.register-password label {
  display: block; 
}
.register-password input {
  width: 100%; 
  border: none; 
  outline: none; 
   
}
.register-password .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}

.buttonRegister{
    position: absolute;
    top: 540px;
    font-size: 18px;
    left: 180px;
    color: white;
    background-color: rgb(126, 92, 198);
    font-family: 'poppins';
    width: 350px;
}



.registerPageLink{
    position: absolute;
    top: 590px;
    font-size: 15px;
    left: 180px;
    font-family: 'poppins';
}

.footer-register {
  position: absolute;
  bottom: 600px;
  width: 100%;
  color: white;
}