.forgot-wrapper {
  background-color:black;   
    background-size: cover; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  
  .forgot-page {
    padding: 20px;
    border-radius: 5px;
    background-color:rgb(18, 136, 136); 
    width: 600px; 
    height: 300px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
  }
  .forgot-page h2 {
    margin-bottom: 20px;
    right: 200px;
  }
  .forgot-page form {

    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
.headerForgot{
    position: absolute;
    top: 10px;
    font-size: 26px;
    left: 238px;
    color: #fff;
    font-family: 'poppins';
    margin-right: 150px;
}

.ForgotEmail{
    position: absolute;
    top: 110px;
    font-size: 28px;
    left: 50px;
    color: #fff;
    font-family: 'poppins';

}

.Forgotbutton{
    position: absolute;
    top: 220px;
    font-size: 18px;
    left: 150px;
    color: white;
    background-color:  #5e1fca;
    font-family: 'poppins';
}
.homeButton{
    position: absolute;
    top: 220px;
    font-size: 18px;
    left: 300px;
    color: white;
    background-color: #5e1fca;
    font-family: 'poppins';
}

.forgotPage{
    position: absolute;
    top: 190px;
    font-size: 15px;
    left: 50px;
    font-family: 'poppins';
}