/* Login.css  //background-image: url('../images/gradientblue.jpg');*/

.login-wrapper {
  background-color:black;  
    background-size: cover; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  .right-sidebarLogin {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(126, 92, 198);
    width: 400px; 
    height: 600px;
    position: absolute;
    top: 48%; 
    transform: translateY(-50%);
    color: white;
    right: 20%;
  }
  .right-sidebarLogin h1 {
    top:120px;
    font-size: 36px;
    margin-top: 10px;
    font-family: 'poppins';
  }
  
  .login-page {
    padding: 20px;
    border-radius: 5px;
    background-color:white; 
    width: 600px; 
    height: 600px; 
    position: absolute; 
    top: 48%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    color: black;
  }
  .h1Login{
    position: absolute;
    top: 40px;
    font-size: 32px;
    left: 220px;
    color: black;
    font-family: 'poppins';
  }
  .login-page h2 {
    margin-bottom: 20px;
    right: 200px;
  }
  .login-page form {

    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
.headerlogin{
    position: absolute;
    top: 140px;
    font-size: 24px;
    left: 170px;
    color: black;
    font-family: 'poppins';
}
.email{
    position: absolute;
    top: 220px;
    font-size: 16px;
    left: 50px;
    color: black;
    font-family: 'poppins';

}
.email label {
  display: block; 
}
.email input {
  width: 100%; 
  border: none; 
  outline: none;
}
.email .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}
.passwordLogin{
    position: absolute;
    top: 320px;
    font-size: 16px;
    left: 50px;
    color: black;
    font-family: 'poppins';
}
.passwordLogin label {
  display: block; 
}
.passwordLogin input {
  width: 100%; 
  border: none; 
  outline: none;
}
.passwordLogin .underline {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}


.buttonLogin{
    position: absolute;
    top: 400px;
    font-size: 18px;
    left: 50px;
    color: white;
    background-color: rgb(126, 92, 198);
    font-family: 'poppins';
    width: 350px;
}
.forgotten-password{
    position: absolute;
    top: 440px;
    font-size: 15px;
    left: 50px;
    color: #a80d4e;
    font-family: 'poppins';
}
.registerPage{
    position: absolute;
    top: 480px;
    font-size: 15px;
    left: 50px;
    font-family: 'poppins';
}
.footer-login {
  position: absolute;
  bottom: 600px;
  width: 100%;
  color: white;
  top: 50px;
}