.header {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 0 auto;

}
.logo {
    flex: 5;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    z-index: 1;
    background-color: transparent;
    margin-top: 30px;
    
}
.logo .fa-film {
    margin-right: 20px;
    background: -webkit-linear-gradient(45deg,#8E2DE2, #4A00E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav {
    margin-top: 30px;
    flex: 1.5;
    z-index: 1;


}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

    
}
li {
    cursor: pointer;
    color: #fff;
    transition: .2s ease-in-out;
}
li:hover {
    color: #c1c1c1;
}
.search-box input{
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: relative;
    padding: 8px 8px;
    border: none;
    
}

.user-icon {
    margin-top: 30px;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}
.user-icon .fa-user {
    position: absolute;
    background: none;
    top: 23%;
    left: 25%;
    color: #9563FF;
}
